$h-header: 70px;
$bg-header: #ffffff;
$w-logo: 50px;
$bg-body: #d48f38;
$bg-found: #212529;
$found-text: #bcbdbe;
$w-col: 20%;
$h-card-text: 140px;
$card-title: #f8f8f9;
$font: 'Montserrat', sans-serif;